:root {
    --black: #4D4C59;
    --purple: #6C63FF;
    --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    position: relative;
    width: 1366px;
    height: 771px;
    background: white;
}

.layout {
    position: absolute;
    width: 494px;
    height: 172px;
    left: 123px;
    top: 187px;

}


.days {
    position: absolute;
    width: 30px;
    height: 21px;
    left: 152px;
    top: 260px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-transform: capitalize;

    color: #C8C8C8;
}

.hours {
    position: absolute;
    width: 41px;
    height: 21px;
    left: 273px;
    top: 260px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-transform: capitalize;

    color: #C8C8C8;
}

.minutes {
    position: absolute;
    width: 54px;
    height: 21px;
    left: 405px;
    top: 260px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-transform: capitalize;

    color: #C8C8C8;
}

.seconds {
    position: absolute;
    width: 70px;
    height: 21px;
    left: 536px;
    top: 260px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */

    text-transform: capitalize;

    color: #C8C8C8;
}

.countdown-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.counting-days {
    position: absolute;
    width: 494px;
    height: 79px;
    left: 260px;
    top: 280px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 108px;
    color: #4D4C59;
}

.counting-hours {
    position: absolute;
    width: 494px;
    height: 79px;
    left: 123px;
    top: 280px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 108px;
    color: #4D4C59;
}

.counting-minutes {
    position: absolute;
    width: 494px;
    height: 79px;
    left: 397px;
    top: 280px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 108px;
    color: #4D4C59;
}

.counting-seconds {
    position: absolute;
    width: 494px;
    height: 79px;
    left: 520px;
    top: 280px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 108px;
    color: #4D4C59;
}

.timer {
    position: absolute;
    width: 494px;
    height: 99px;
    left: 123px;
    top: 260px;

}

.title {
    position: absolute;
    width: 486px;
    height: 54px;
    left: 127px;
    top: 187px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    letter-spacing: 0.105em;
    text-transform: uppercase;
    color: #6C63FF;
}

.box-sub {
    position: absolute;
    width: 160px;
    height: 46px;
    left: 290px;
    top: 457px;
}

.subscribe {
    position: absolute;
    width: 96px;
    height: 20px;
    left: 32px;
    top: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.back-sub {
    position: absolute;
    width: 160px;
    height: 46px;
    left: 290px;
    top: 457px;
    background: #6C63FF;
    border-radius: 10px;
}

.txt-sub {
    position: absolute;
    width: 349px;
    height: 21px;
    left: 196px;
    top: 405px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #9C9AB6;
}

.rocket {
    position: absolute;
    width: 607px;
    height: 435px;
    left: 699px;
    top: 150px;

}

.top {
    position: absolute;
    width: 1366px;
    height: 133px;
    left: 0px;
    top: 0px;
    background: rgba(221, 219, 242, 0.26);
    background-color: white;
}

footer {
    position: absolute;
    width: 1366px;
    height: 229px;
    left: 0px;
    top: 542px;
    background: rgba(221, 219, 242, 0.26);
    background-color: white;
}